{% set count = 0 %}
{% for server, data in config.extra.servers %}
{% if lang in data["lang"] and usecase in data["usecases"] %}{% set count = count + 1 %}
<p>
{% if data.logo %}<a class="button" href="{{ data.website }}"><img class="server" src="{{ get_url(path="/servers/"~data.logo) }}"></a>
{% else %}<a class="button" href="{{ data.website }}"><span>{{ server }}</span></a>
{% endif %}
</p>
{% endif %}{% endfor %}
{% if count < 3 %}
{% for server, data in config.extra.servers %}
{# Exclude servers with `lang` because they were already listed. Only list default_language #}
{# TODO: Indicate that those results are from a different language #}
{% if config.default_language in data["lang"] and lang not in data["lang"] and usecase in data["usecases"] %}
<p>
{% if data.logo %}<a class="button" href="{{ data.website }}"><img class="server" src="{{ get_url(path="/servers/"~data.logo) }}"></a>
{% else %}<a class="button" href="{{ data.website }}"><span>{{ server }}</span></a>
{% endif %}
</p>
{% endif %}{% endfor %}
{% endif %}
